# Visual Studio
*.suo
*.user
*.sdf
*.opensdf
ipch/
*.ipch
[Dd]ebug/
[Rr]elease/
*.tlog
*.tlh
*.tlli
*.obj
*.log
*.manifest
*.res
*.lastbuildstate
*.rc
*.idb
*.pdb
*.exe
*.ilk
*.tfw
*.tif
ImageX/ImageX_i.c
ImageX/ImageX_i.h
ImageX/ImageX_p.c
Debug/ImageX.dll
Release/ImageX.dll
